/* *{
  border: 1px solid red;
} */

.center {
  /* display: block; */
  text-align: center;
}

.tracker {
  padding-left: 5px;
  padding-right: 5px;
  width: 200px;
  margin: 5px;
  border: 1px black inset;
  /* justify-content: space-around; */
}

.card {
  width: 100px;
  justify-content: space-around;
}

#cardContainer {
  flex-wrap: nowrap;
}

#opponentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 25%;
  padding-right: 25%;
}
